.footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1BFFFF;
    height: 80px;
}
.globalImgWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 50%;
    height: 50%;
}